$origin.responseHeader

You have requested Help information from the Whois Database,
therefore the body of your message has been ignored.

Whois Database documentation is available at

http://www.afrinic.net/en/library/membership-documents

Whois Database FAQ is available at

http://www.afrinic.net/en/faqs/whois

RPSL RFCs are available at

http://tools.ietf.org/rfc/rfc2622.txt
http://tools.ietf.org/rfc/rfc2725.txt
http://tools.ietf.org/rfc/rfc4012.txt